# ------------------------------
# Python / MicroPython
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.mpy

# ------------------------------
# MicroPython device files
# ------------------------------
lib/
main.py
boot.py

# ------------------------------
# Editor / IDE
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# OS specific
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Build / temp
# ------------------------------
*.log
*.tmp
